@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,500&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color:ghostwhite;
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 4em;
}

.container{
    width: 800px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.button-container {
  width: 200px;
  display: flex;
  margin-bottom: 60px;
}

.button {
  width: 10px;
  height: 150px;
  border-radius: 10%;
  background-color: black;
  box-shadow: 0 0 10px 10px black;
  margin: 40px;
}

.main-button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gold;
  box-shadow: 0 0 10px 10px gold;
  animation: 10s linear infinite pulsateBtn;
  margin: 40px;
}

.background-button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: crimson;
  box-shadow: 0 0 10px 10px crimson;
  animation: 10s linear infinite pulsateBtn;
  margin: 40px;
}

/* .button:active {
  background: radial-gradient(crimson, purple);
}

.button:hover {
  background: radial-gradient(lime, yellow);
} */

@keyframes appearBtn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulsateBtn {
  from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
  }
  10% {
      transform: scale(1.2);
      animation-timing-function: ease-in;
  }
  17% {
      transform: scale(1.5);
      animation-timing-function: ease-out;
  }
  33% {
      transform: scale(1.2);
      animation-timing-function: ease-in;
  }
  45% {
      transform: scale(1);
      animation-timing-function: ease-out;
  }
  60% {
      transform: scale(1.2);
      animation-timing-function: ease-in;
  }
  75% {
      transform: scale(1.5);
      animation-timing-function: ease-out;
  }
  90% {
      transform: scale(1.2);
      animation-timing-function: ease-in;
  }
  100% {
      transform: scale(1);
      animation-timing-function: ease-out;
  }
}

/* .button:active {
    background: radial-gradient(crimson, purple)
} */


