@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,500&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
    color: white;
    margin-bottom: 100px;
}

.container{
    width: 600px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* .button-container {
  width: 200px;
  display: flex;
  margin-bottom: 60px;
} */

.button:hover {
  width: 50px;
  height: 50px;
  background-color: gold;
  box-shadow: 0 0 10px 10px gold;
  margin: 40px;
  font-weight: bolder;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
}

.button {
  width: 50px;
  height: 50px;
  color: white;
  background-color: black;
  box-shadow: 0 0 10px 10px black;
  margin: 40px;
  font-weight: bolder;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
}

.button.active {
  width: 50px;
  height: 50px;
  background-color: gold;
  box-shadow: 0 0 10px 10px gold;
  margin: 40px;
  font-weight: bolder;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
}

#main-button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue;
  box-shadow: 0 0 10px 10px blue;
  animation: 10s linear infinite pulsateBtn;
  margin-bottom: 100px;
}

#validate-button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: darkgreen;
  box-shadow: 0 0 10px 10px darkgreen;
  animation: 10s linear infinite pulsateBtn;
  margin-top: 100px;
}

/* .background-button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: darkred;
  box-shadow: 0 0 10px 10px darkred;
  animation: 10s linear infinite pulsateBtn;
  margin: 40px;
} */

/* .button:hover {
  background: radial-gradient(lime, yellow);
} */

@keyframes appearBtn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulsateBtn {
  from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
  }
  10% {
      transform: scale(1.2);
      animation-timing-function: ease-in;
  }
  17% {
      transform: scale(1.5);
      animation-timing-function: ease-out;
  }
  33% {
      transform: scale(1.2);
      animation-timing-function: ease-in;
  }
  45% {
      transform: scale(1);
      animation-timing-function: ease-out;
  }
  60% {
      transform: scale(1.2);
      animation-timing-function: ease-in;
  }
  75% {
      transform: scale(1.5);
      animation-timing-function: ease-out;
  }
  90% {
      transform: scale(1.2);
      animation-timing-function: ease-in;
  }
  100% {
      transform: scale(1);
      animation-timing-function: ease-out;
  }
}

/* .button:active {
    background: radial-gradient(crimson, purple)
} */


