* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.button {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: black;
  margin: 40px;
  font-weight: bolder;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
}

.button.active {
  width: 150px;
  height: 150px;
  background-color: black;
  box-shadow: 0 0 20px 5px white;
  margin: 40px;
  font-weight: bolder;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
}

#validate-button {
  width: 20px;
  height: 20px;
  opacity: 0.8;
  border-radius: 50%;
  background-color: blue;
  box-shadow: 0 0 10px 10px blue;
  animation: 10s linear infinite pulsateBtn;
  margin-top: 100px;
}

@keyframes pulsateBtn {
  from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
  }
  10% {
      transform: scale(1.2);
      animation-timing-function: ease-in;
  }
  17% {
      transform: scale(1.5);
      animation-timing-function: ease-out;
  }
  33% {
      transform: scale(1.2);
      animation-timing-function: ease-in;
  }
  45% {
      transform: scale(1);
      animation-timing-function: ease-out;
  }
  60% {
      transform: scale(1.2);
      animation-timing-function: ease-in;
  }
  75% {
      transform: scale(1.5);
      animation-timing-function: ease-out;
  }
  90% {
      transform: scale(1.2);
      animation-timing-function: ease-in;
  }
  100% {
      transform: scale(1);
      animation-timing-function: ease-out;
  }
}