@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,500&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color:black;
  color: blue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 4em;
}

.container{
    width: 1000px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.button {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: blue;
    box-shadow: 0 0 10px 10px blue;
    margin: 40px;

}

.button:active {
    background: radial-gradient(lime, yellow);
    box-shadow: 0 0 10px 10px yellow;
}



/* .button:active {
    background: radial-gradient(crimson, purple)
} */


