@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,500&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
    color: white;
    margin-bottom: 100px;
}

.container{
    width: 1000px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* .button-container {
  width: 200px;
  display: flex;
  margin-bottom: 60px;
} */

/* .button:hover {
  width: 50px;
  height: 50px;
  background-color: gold;
  box-shadow: 0 0 10px 10px gold;
  margin: 40px;
  font-weight: bolder;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
} */

.button {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  color: white;
  background-color: black;
  box-shadow: 0 0 5px 5px black;
  margin: 40px;
  font-weight: bolder;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
}

.button.active {
  width: 150px;
  height: 150px;
  background-color: black;
  box-shadow: 0 0 5px 5px blue;
  margin: 40px;
  font-weight: bolder;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
}

#repeat-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gold;
  box-shadow: 0 0 10px 10px gold;
  animation: 10s linear infinite pulsateBtn;
  margin-bottom: 100px;
}

#validate-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: lime;
  box-shadow: 0 0 10px 10px lime;
  animation: 10s linear infinite pulsateBtn;
  margin-top: 100px;
}

/* .background-button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: darkred;
  box-shadow: 0 0 10px 10px darkred;
  animation: 10s linear infinite pulsateBtn;
  margin: 40px;
} */

/* .button:hover {
  background: radial-gradient(lime, yellow);
} */

@keyframes appearBtn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulsateBtn {
  from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
  }
  10% {
      transform: scale(1.2);
      animation-timing-function: ease-in;
  }
  17% {
      transform: scale(1.5);
      animation-timing-function: ease-out;
  }
  33% {
      transform: scale(1.2);
      animation-timing-function: ease-in;
  }
  45% {
      transform: scale(1);
      animation-timing-function: ease-out;
  }
  60% {
      transform: scale(1.2);
      animation-timing-function: ease-in;
  }
  75% {
      transform: scale(1.5);
      animation-timing-function: ease-out;
  }
  90% {
      transform: scale(1.2);
      animation-timing-function: ease-in;
  }
  100% {
      transform: scale(1);
      animation-timing-function: ease-out;
  }
}

/* @keyframes flicker-3 {
  0%,
  100% {
    opacity: 1;
  }
  32.98% {
    opacity: 1;
  }
  33% {
    opacity: 0.8;
  }
  34% {
    opacity: 0.8;
  }
  34.02% {
    opacity: 1;
  }
  34.98% {
    opacity: 1;
  }
  35% {
    opacity: 0.8;
  }
  35.9% {
    opacity: 0.8;
  }
  35.92% {
    opacity: 1;
  }
  38.98% {
    opacity: 1;
  }
  39% {
    opacity: 0.8;
  }
  39.8% {
    opacity: 0.8;
  }
  39.82% {
    opacity: 1;
  }
  83.98% {
    opacity: 1;
  }
  84% {
    opacity: 0.8;
  }
  84.9% {
    opacity: 0.8;
  }
  84.92% {
    opacity: 1;
  }
}

@keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0;
  }
} */


