@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,500&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color:yellow;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 4em;
}

.container{
    width: 900px;
    height: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: lime;
    margin: 40px;
    box-shadow: 0 0 100px 100px lime;
    animation: 5s linear appearBtn,
               12s ease-in-out 5s infinite pulsateBtn;
}

@keyframes appearBtn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulsateBtn {
  from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
  }
  10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
  }
  17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
  }
  33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
  }
  45% {
      transform: scale(1);
      animation-timing-function: ease-out;
  }
  60% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
  }
  75% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
  }
  90% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
  }
  100% {
      transform: scale(1);
      animation-timing-function: ease-out;
  }
}

/* .button:hover {
    background: radial-gradient(lime, yellow);
}

.button:active {
    background: radial-gradient(crimson, purple)
} */


