* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color:whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container{
  width: 80vw;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-template-rows: 20vh 20vh 20vh 20vh;
  justify-items: center;
  align-items: center;
}

.button {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  background-color: whitesmoke;
}

.button:hover{
  box-shadow: 0 0 5px 5px rgb(200, 200, 200);
}

.button.active {
  width: 7vw;
  height: 7vw;
  background-color: whitesmoke;
  box-shadow: 0 0 20px 5px black;
}

#validate-button {
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  background-color: blue;
  box-shadow: 0 0 10px 10px blue;
  animation: 10s linear infinite pulsateBtn;
  margin-top: 40px;
}

@keyframes pulsateBtn {
  from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
  }
  10% {
      transform: scale(1.2);
      animation-timing-function: ease-in;
  }
  17% {
      transform: scale(1.5);
      animation-timing-function: ease-out;
  }
  33% {
      transform: scale(1.2);
      animation-timing-function: ease-in;
  }
  45% {
      transform: scale(1);
      animation-timing-function: ease-out;
  }
  60% {
      transform: scale(1.2);
      animation-timing-function: ease-in;
  }
  75% {
      transform: scale(1.5);
      animation-timing-function: ease-out;
  }
  90% {
      transform: scale(1.2);
      animation-timing-function: ease-in;
  }
  100% {
      transform: scale(1);
      animation-timing-function: ease-out;
  }
}